* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  width: 100vw;
  height: 100vh;
}
